* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* ヘッダ */
header {
    height: 7%;
    width: 100%;
    background-color: rgba(24, 39, 42, 0.7);
    /* opacity: 0.5; */
    position: fixed;
    /*z-index: 10;*/

    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.global-menu {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.logo {
    width: auto;
    height: 100%;
    float: left;
    margin-left: 5%;
}

.global-menu .logo img {
    display: block;
    width: auto;
    height: 100%;
}

.menu {
    height: 100%;
    /*
    width: 45%;
    */
    margin-right: 5%;
    margin-left: 50%;
    float: right;
}

.menu-item {
    font-size: 1.1em;
    /*
    height: 100%;
    padding: 10px 25px 27px 25px;
    float: left;
    height: auto;
    margin-right: 5%;
    clear: both;
    line-height: 100%;
    float: left;
    */
    height: 100%;
    padding: 0 5%;
    display: inline-block;
    transition-duration: 1s;
}

.menu-item a {
    vertical-align: -45%;
    color: white;
}

.menu-item:hover {
    background-color: rgba(24, 39, 42, 0.5);
}

.menu-icon {
    color: white;
    float: right;
    display: none;
}

.menu-icon img {
    display: block;
}

@media(max-width: 670px) {
    .menu {
        display: none;
    }
    
    /*
    .logo {
        display: none;
    }

    .menu-icon {
        display: block;
    }
    
    .menu-icon img {
        display: block;
        height: 64px;
    }
    */
}

/* メインコンテンツ */

body {
    /*background-color: #ffffff;*/
    margin: 0;
}

.main {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    /*background-color: #ffffff;*/
}

h1 {
    padding-left: 2%;
    /*border-bottom: solid 2px #98C794;*/
    border-left: solid 15px #3838a9;
}

h2 {
    padding-left: 2%;
    border-bottom: solid 1px #98C794;
}

.slideshow {
    width: 100px;
    overflow: hidden;
    margin: 2em auto;
    border: solid 10px #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);    
}

.slideshow-wrapper {
    width: 300%; /* 枚数 x 100% */
    position: relative;
    left: 0;
    will-change: transform;
    animation: slider 20s infinite;
}

.slideshow-element {
    width: 100px;
    height: 100%;
    list-style: none;
    float: left;
    position: relative;
}

.slideshow img {
    width: 100px;
}

/*
@-webkit-keyframes slider {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100px); }
    66% { transform: translateX(-200px); }
    100% { transform: translateX(0); }
}
*/

.section {
    /*margin: 10% 5%;*/
    clear: both;
}
/*
.section-content {
    text-align: center;
}

.section.odd {
    background-color: #ffffff;
}

.section.even {
    background-color: #fafafa;
}
*/
/* フッタ */
footer {
    background-color: #ffffff;
    background-color: rgb(34, 49, 52);
    color: #ffffff;
}

footer p {
    text-align: center;
}
